<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div><form action="/jije" method="post">
    <input type="text" name="jijepname" placeholder="Name jije" />
    <input type="text" name="category" placeholder="Category">
    <input type="text" name="manufacture" placeholder="Manufacture">
    <input type="number" name="price" placeholder="Price">
    <label> Has nicotine : <input type="checkbox"  name="hasNicotine"/> </label>

    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Add</button>

</form>
    {{#jijes}}
        <div>
            <b>{{jije_id}}</b>
            <span>{{jijepname}}</span>
            <span>{{category}}</span>
            <span>{{manufacture}}</span>
            <span><{{price}}</span>
            <span>{{hasNicotine}}</span>
            <form action="/jijeeditor" method="get">
                <input type="hidden" name="category" value="{{category}}" />
                <button type="submit">Edit</button>
            </form>
        </div>
    {{/jijes}}
</div>
<a href="/shop">Shops page</a>
</body>
</html>