<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    {{#shop}}
        <div>
            <b>{{shop_id}}</b>
            <span>{{shopname}}</span>
            <span>{{address}}</span>
            <span>{{electroParkingAvailable}}</span>
        </div>
    {{/shop}}
</div>
<a href="/shop">Shops page</a>
</body>
</html>