<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    {{#shop}}
        <div>
            <label>Shop id :</label>
            <b>{{shopid}}</b>
<!--            <span>{{electroParkingAvailable}}</span>-->
        <form action="save" method="post"  >
            <input type="hidden" name="shopid" value="{{shopid}}" />
            <label>Shop name :</label>
            <input type="text" name="shopname" value="{{shopname}}"  />
            <label>Shop address :</label>
            <input type="text" name="address" value="{{address}}" />
            <input type="hidden" name="electroParkingAvailable" value="{{electroParkingAvailable}}" />
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Save</button>
        </form>
        </div>
    <form action="delete" method="post"  >
        <input type="hidden" name="shopid" value="{{shopid}}" />
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <label>Delete this shop :</label>
        <button type="submit">Delete</button>
    </form>
    {{/shop}}
</div>
<a href="/shop">Shops page</a>
</body>
</html>